.feature{
    background-image: url("Images/adminpic5.jpg");

    background-size: cover;
    background-repeat: no-repeat; 
   margin-top:0px!important;
 
    padding-top: 100px!important;
 
   height:100%;
}
#content{
    
  margin:0px 300px;
   
    background-color: #ffffff;
}

.btn1{
   background-color: #dbd9ff!important;
}
.btn2{
    background-color: #f7def0!important;
}
/* Style the tab */
