.feature{
    background-image: url("Images/adminpic5.jpg");

    background-size: cover;
    background-repeat: no-repeat; 
   margin-top:0px!important;
    height: 500px;
    width: 600px;
    padding-top: 100px!important;
}
#content{
    
    margin:0px 350px;
    
    background-color: #ffffff;
}

.btn1{
   background-color: #dbd9ff!important;
}
.btn2{
    background-color: #f7def0!important;
}
