body{
    position : absolute;
 
    padding :0px!important;
}
#stylehome{
    background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
}
.about{
    padding: 30px;
    font-size: x-large;
  }
  .uni{
    text-align: center!important;
    font-family: 'Dancing Script', cursive!important;
    font-size: 150px!important;
    color: #7868e6!important;
  }

#p.align-right ul li{
    position: relative;
    float: left;
}
#alignnav{
    position:fixed;
}
#item{
 
  margin:10px;
  border-radius: 10px;
  font-size: 20px;
 
} 

#item:link, #item:visited {
 
  color: #0c0c0c;
   padding: 14px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#item:hover, #item:active {
  background-color: #b8b5ff;
  color: #7868e6;
  padding: 14px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#heading{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.grid-container {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-gap: 30px;
}
.grid-child{
  background-color: #b8b5ff;
  color:#0c0c0c;
  border-radius: 10px;
  padding:30px;
  font-size:large;
}
.grid-child:hover{
  background-color: #7868e6;
}

.wrimagecard{	
	margin-top: 0;
    margin-bottom: 1.5rem;
    text-align: left;
    position: relative;
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
}
.wrimagecard .fa{
	position: relative;
    font-size: 70px;
}
.wrimagecard-topimage_header{
padding: 20px;
}
a.wrimagecard:hover, .wrimagecard-topimage:hover {
    box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
}
.wrimagecard-topimage a {
    width: 100%;
    height: 100%;
    display: block;
}
.wrimagecard-topimage_title {
    padding: 20px 24px;
    height: 80px;
    padding-bottom: 0.75rem;
    position: relative;
}
.wrimagecard-topimage a {
    border-bottom: none;
    text-decoration: none;
    color: #525c65;
    transition: color 0.3s ease;
}
h4 {
  color: #1a1c20!important;
  font-size: 20px!important;
  font-weight: 400!important;
  font-family: "Nunito", sans-serif!important;
}
.util {
  color: #1a1c20!important;
  font-size: 65px!important;
  font-weight: 500!important;
  font-family: 'Dancing Script', cursive;
  padding-left: 20px;
  text-align: center;
}
hr {
  width: 10%;
  height: 2px!important;
  background-color:#b8b5ff;
}
.container-fluid {
  padding-top: 22px;
}
